{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
    <h1>Review index</h1>

    <a href="{{ path('app_review_new') }}">Create new</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>ReviewText</th>
                <th>Score</th>
                <th>Approved</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.name }}</td>
                <td>{{ review.reviewText }}</td>
                <td>{{ review.score }}</td>
                <td>{{ review.approved ? 'Yes' : 'No' }}</td>
                <td>{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_review_show', {'id': review.id}) }}">show</a>
                    <a href="{{ path('app_review_edit', {'id': review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(reviews) }}
    </div>
    
{% endblock %}
