{% extends 'base.html.twig' %}

{% block title %}Review index{% endblock %}

{% block body %}
    <h1>Liste des avis</h1>
    <h4><div class="count">
    Il y a actuellement {{ reviews.getTotalItemCount }} avis
    </div></h4>

    <a href="{{ path('app_review_new') }}">Ajouter un nouvel avis</a>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Avis</th>
                <th>Note</th>
                <th>Approuvé</th>
                <th>Date de création</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.name }}</td>
                <td>{{ review.reviewText }}</td>
                <td>{{ review.score }}</td>
                <td>{{ review.approved ? 'Oui' : 'Non' }}</td>
                <td>{{ review.createdAt ? review.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_review_show', {'id': review.id}) }}">Détails</a>
                    <a href="{{ path('app_review_edit', {'id': review.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun avis enregistré pour le moment</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(reviews) }}
    </div>
    
{% endblock %}
